.hu-navbar-option {
    font-size: larger;
    text-decoration: none;
    color: var(--landing-bg-blue);
}
  
.activeClass {
    color: var(--landing-orange);
    text-decoration: none;
    font-weight: bold;
}