.hu-navbar-option {
    font-size: larger;
    text-decoration: none;
    color: var(--landing-bg-blue);
    padding-right: 1rem;
}
  
.activeClass {
    color: var(--landing-orange);
    text-decoration: none;
    font-weight: bold;
}