:root {
  /*Colors*/
  --imp-light-blue: #14FBDF;
  --imp-green: #75FA41;
  --imp-yellow: #FBE414;
  --imp-black: #000000;
  --imp-white: #FFFFFF;
  --imp-red: #FB1414;
  --imp-grey: #989898;
  --imp-grey-blue: #9BACC0;
  --landing-bg-blue: #3590F3;
  --landing-bg-pink: #ffb3b3;
  --landing-orange: #FF7606;
}

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/*General*/
body {
  font-family: 'Walter Turncoat', cursive;
  color: var(--imp-black);
}

/*Buttons*/
.hu-button-active {
  background-color: var(--landing-orange);
  border: none;
}

.card-title {
  color: var(--landing-orange);
}

.lead {
  font-weight: bold;
}